$primary-color: #662e9e;

$txt-font: 'PT sans', sans-serif;
//$title-font: "Lobster", serif;
$title-font: 'Amaranth', sans-serif;

$border-type: solid 1px #bfbfbf;

$margin-blocks: 5px;

$background-blocks: #FFF;
$background-page: #662e9e;
$background-footer: #f2f2f2;

$border-shadow: 1px 1px 2px #aaa;

$small-text: 10px;
$txt-color-header: #FFF;

$transition-links: color 1s ease;
$transition-header: height 1s ease;

$title-color: #b3b3b3;



.txtcolor {
	color: $primary-color;
}

.titlestyle
{
  font-family: $title-font;
}

.txtstyle
{
	font-family: $txt-font;
    text-decoration: none;
}

a:link{
  color: $primary-color;
  text-decoration: none;
}
a:visited{ color: #4d2277; }
a:hover{ transition: $transition-links;
color: #4d2277;
text-decoration: none}



#body
{
	background-color: $background-blocks;
    margin: 0;
}


#header-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-page;
  height: 130px;
  transition: $transition-header;


		.titles
	{
		text-align: center;
        color: $txt-color-header;
	}

}

#header-container:hover
{
  height: 160px;
}

#page
{

	display: flex;
	margin-top: 3px;

	#sidebar-container
	{
		flex-grow: 5;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		padding: 10px;
		font-family: $txt-font;
		margin: $margin-blocks;
		background-color: $background-blocks;
        border-right: $border-type;


		.img-container
		{
			align-self: center;
			padding: 20px 0 20px 0;
			margin-left: 10px;
		}

        .img-avatar
        {
          width: 140px;
          height: 140px;
          transition: width 1s ease, height 1s ease;
        }

        .img-avatar:hover
        {
          width: 160px;
          height: 160px;
        }

		.details
		{
			font-family: $txt-font;
			padding-top: 20px;
			margin-left: 10px;

			.mail-to
			{
              text-decoration: none;

			}


			.coordonnees
			{
				padding: 10px 0 10px 0;
				text-decoration: none;

			}
		}

		.languages
		{
			margin-left: 10px;
		}

		.computer-skills
		{
			margin-left: 10px;
		}

		.literature
		{
			flex-wrap: wrap;
			margin-left: 10px;
		}

		.culture
		{
			flex-wrap: wrap;
			margin-left: 10px;
		}

		.videogames
		{
			flex-wrap: wrap;
			margin-left: 10px;
		}

	}


	#body-container
	{
		flex-grow: 7;

		.project
		{
			
			flex-wrap: wrap;
			align-self: center;
			margin: $margin-blocks;
            border-bottom: $border-type;
            font-size: larger;

			.txt-project
			{
				padding: 20px;
				flex-wrap: wrap;
				font-family: $txt-font;
			}
		}

		#resume-container
		{
			display: flex;
			flex-direction: column;
			margin: 10px 5px 5px 5px;


			#prof-experience
			{
				display: flex;
				font-family: $txt-font;
				flex-direction: column;
				margin: $margin-blocks;
				text-align: center;
				padding: 20px 0 40px 0;
				
			}


			#training
			{
				display: flex;
				font-family: $txt-font;
				text-align: center;
				flex-direction: column;
				margin: $margin-blocks;
				padding: 10px 20px 20px 20px;
			}

		}

	}

}


#footer-container
{
	font-family: $txt-font;
	display: flex;
	padding: 20px 20px 40px 20px;
	border-top: $border-type;
    background-color: $background-footer;
	


	#social-links 
	{
		display: flex;
		flex-grow: 6;
		flex-direction: column;
		text-align: center;
        border-right: $border-type;

		.linkedin
		{
          text-decoration: none;
          padding: 5px;
		}


		.facebook
		{
          text-decoration: none;
          padding: 5px;
		}

		.github
		{
			text-decoration: none;
			padding: 5px;
		}

	}

	#other-links 
	{
		display: flex;
		flex-grow: 6;
		flex-direction: column;
        text-align: center;

		.contact-link
		{
          text-decoration: none;
          padding: 5px;
		}


		.table-link
		{
          text-decoration: none;
          padding: 5px;
		}


		.cv-link
		{
          text-decoration: none;
          padding: 5px;
		}

	}

}


#contact-body
{
	background-color: $background-footer;
    margin: 0;
}

#contact-header
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-page;
	border-bottom: $border-type;
    height: 130px;
    transition: $transition-header;
	
	.contact-title
	{
      text-align: center;
      color: $txt-color-header;
	}
}

#contact-header:hover
{
  height: 160px;
}

#form-wrapper
{
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 40px;
    background-color: $background-blocks;


	.return
	{
		flex-direction: column;
		font-family: $txt-font;
        padding: 100px 0 100px 0;


		.line-return
		{
          text-decoration: none;
          text-align: center;
          padding: 10px;
		}
	}

	#contact-form
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		padding: 50px 100px 50px 100px;
		font-family: $txt-font;

		.form-note
		{
			font-size: $small-text;
		}

		.div-input
		{
			padding: 10px;
			align-self: center;
            justify-content: center;
		}

        .submit-input
        {
          padding: 10px;
          align-content: center;
          justify-content: center;
        }

		.contact-input
		{
			align-self: center;
			padding: 10px;
			font-family: $txt-font;
            width: 400px;
		}

        .civi-input
        {
          align-self: center;
          padding: 10px;
          font-family: $txt-font;
        }


        .submit-button
        {
          font-family: $txt-font;
          color: white;
          font-weight: bold;
          font-size: larger;
          padding: 10px;
          width: 420px;
          background-color: $primary-color;
          border-radius: 30px;
          border: solid 2px $primary-color;
          transition: background-color 250ms ease, color 250ms ease;
        }

        .submit-button:hover
        {
          background-color: white;
          color: $primary-color;
        }
		
	}
}

#table-body
{
	background-color: $background-footer;
    margin: 0;
}

#table-header
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-page;
    border-bottom: $border-type;
    height: 130px;
    transition: $transition-header;

    .table-title
    {
      text-align: center;
      color: $txt-color-header;
    }
}

#table-header:hover
{
  height: 160px;
}

#delete-wrapper
{
	diplay:flex;
	justify-content: center;
	align-content: center;
	background-color: $background-blocks;
	padding: 20px;

	.delete-msg{
		font-family: $txt-font;
		color: #00e600;
		text-align: center;
	}

	.delete-error
	{
		font-family: $txt-font;
		color: red;
		text-align: center;
	}

}

#table-wrapper
{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 40px;
  background-color: $background-blocks;


  #data-table
  {
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: $txt-font;

    .data-cell
    {
      padding: 20px;
      border-bottom: $border-type;
    }

    .data-delete
    {
	  padding: 20px;
	  border-bottom: $border-type;
	  text-align: center;
    }
  }
}



.table-return
{
  text-align: center;
  font-family: $txt-font;
  text-decoration: none;
  padding: 10px 10px 100px 10px;
  background-color: $background-blocks;
}




